@using PagedList;
@using PagedList.Mvc;

@model IPagedList<CodeFirstCrud.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product</h2>

<div class="container">
    <div class="row">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr class="btn-primary">
                <th>
                    @Html.DisplayName("Product Id")
                </th>
                <th>
                    @Html.DisplayName("Product Name")
                </th>
                <th>
                    @Html.DisplayName("Category Id")
                </th>
                <th>
                    @Html.DisplayName("Category Name")
                </th>
                <th>Action</th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4">No rows Match search criteria</td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr class="btn-info">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })

    </div>
</div>